/* repeated colours and fonts */
:root{
    --body-Color:#060526;
    --border-Color:yellow;
    --header--Color:#BD1E1E;
    --movies-Color: #761622;
    --hoverMovieColor:rgb(27, 27, 154); 
    --fontStyle :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* body background colour */ 
body{
    background:var(--body-Color);
}

/* images display */
.images {
    border: 1px solid rgb(255, 255, 255);
    width: 10rem;
    height: 15rem;
    margin-top: 0.8rem;
   border-radius: 15px;
   transition-duration: 0.35s;

}

/* container that holds each movie display */
.movieContainer{
    border: 1px solid var(--border-Color);
    border-radius: 15px;
    float:left;
    width: 12.5rem;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 23px;
    background-color: var(--movies-Color);
    transition-duration: 0.35s;
    color: white;
    box-shadow: 1px 1px  #fffdfd,
                -4px -4px 2px #000000
    ;
}

/* on hover effect for each movie */
.movieContainer:hover{
    background-color: var(--hoverMovieColor);
    border-color: orange;

        background-color: #335c67; 
        box-shadow: 18px #992e32; 
        -webkit-box-shadow: 0px 0px 50px 0px rgba(255,165,0,1);
        -moz-box-shadow: 0px 0px 50px 0px rgba(255,165,0,1);
        box-shadow: 0px 0px 50px 0px rgba(255,165,0,1);
        background-color: var(--hoverMovieColor); 
        border-color: orange;
    
}

/* margin around movies */
#marvelMovies{
    margin:  7.5rem 0.5rem;
}

/* header formatting */
.header {
    width: 100vw;
    height: 11vh;
    position: fixed;
    left:0;
    right:0;
    top:0;
    text-align: center;
    background: var(--header--Color);
    color: white;
  }
 
/* heading formatting */
h1{
    font-size: 2.3rem;
    line-height: 2.3rem;
    letter-spacing: 0.2rem;
    font-weight:bold;
    font-family:var(--fontStyle);
    mix-blend-mode: normal;
    text-shadow: 0 1px hsl(0, 18%, 90%), -3px 3px 0px #221F1F, -4px 4px 0px rgba(0, 0, 0, 0.5)
}

h3{
    font-weight: normal;
    line-height: 1rem;
    font-size: small;
    font-family:var(--fontStyle);
}

/* container displaying sorting methods */
#sort-container{
    position: fixed;
    width: 12.5rem;
    height:75%;
    left: 100%;
    padding: 15px;
    border-radius: 20px;
    margin-left: -255px; 
    background: rgba(58, 81, 164, 0.7);
    box-shadow: 1px 1px  #97b6db,
    2px 2px  #fffdfd,
    -4px -4px 2px #000000;
}

.grid-box{
    display: grid;
    grid-template-rows: 1.8fr 1.2fr 1.2fr 1fr;
    grid-row-gap: 18px;
}

.grid-child{
    margin: 3%;
}

/* formatting labels and headings */
label,h2,h4{
    font-size: 1.5rem;
    color: white;
    font-weight: lighter;
    font-family: var(--fontStyle);
    text-shadow: 0 1px hsl(0, 18%, 90%), 
    0 2px rgb(0, 0, 69), 
    0 1px hsl(0, 0%, 30%);
}

h2{
    font-size: 2rem;
    color: var(--border-Color);
    text-shadow: 0 1px hsl(0, 18%, 90%), 
    0 2px rgb(0, 0, 69), 
    0 1px hsl(0, 0%, 30%);
    letter-spacing: 0.35rem;
}

/* search and sort button styling */
#search-button ,#sort-button{
   margin-left: 10%;
   font-family: var(--fontStyle);
   font-size: 1.2rem;
   padding:0.05rem;
   width: 10rem;
   height: 2.2rem;
   border-radius: 15px;
   transition-duration: 0.30s;
}

.search-block{
    width: 100%;
    height: 45%;
    border-radius: 5px;
    padding: auto;
    border-color: white;
}

/* pop up error message */
.error-msg{
    font-size: 0.8rem;
    color: red;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    display: none;
    margin: 1%;
}

/* sinlge movie page formatting */
.selectedMovie{
    width: 60%;
    height:60vh;
    margin: auto;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--movies-Color);
    border-radius: 20px;
    border: 1px solid var(--border-Color);
    display: grid;
    grid-template-columns: 0.8fr 1.5fr;
    box-shadow: 1.2px 1.2px  #fffdfd,
    -4.5px -4.5px 2px #000000
;
}

/* margins for search button */
#search-button{
    margin-bottom: 10%;
    margin-top: 5%;
}

.grid-child1{
    margin: 2%;
}

/* displaying image for single movie */
#detail-img{
    margin: 1%;
    height: 25rem;
    border-radius:20px ;
    border: 1px solid white;
}

/* button to change to index page from single movie page*/
#btn-backtoHome{
    float: right;
    width: 15rem;
    height: 3.5rem;
    border-radius: 15px;
    margin-right: 5%;
    background-color: white;
    letter-spacing: 0.2rem;
    font-weight: bold;
    transition-duration: 0.30s;
}

/* all buttons colours */
#btn-backtoHome:hover, #sort-button:hover, #search-button:hover{
    color: white;
    background-color: #000000;
}

/* link tag colour */
a{
    color:white;
}


